.about {
    height: 100%;
}

.about p {
    font-size: 16px;
}

.about img {
    padding: 1em;
    float: left;
}
.about h1 {
    color: #3B3B3B;
}

@media (min-width: 768px) {
    .about p {
        font-size: 24px;
    }
}