.logo {
    display: inline-block;
    padding-right: 10px;
    width: 32px;
    height: 31px;
    background-image: url('../../assets/logo_small.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

/* .logo img {
    max-width: 100%;
    height: auto !important;
} */

.hero {
    margin-top: 2rem;
}

.hero-text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 2.5rem;
    letter-spacing: 2.4px;
    color: #3B3B3B;
    display: inline-block;
    position: relative;
}

@media (min-width: 1024px) {
    .logo {
        width: 55px;
        height: 53px;
        background-image: url('../../assets/logo_large.png');
    }
}

@media (min-width: 768px) {
    .hero-text {
        font-size: 72px;
        letter-spacing: 7.2px;
    }

    .logo {
        width: 40px;
        height: 39px;
        background-image: url('../../assets/logo_medium.png');
    }

    .home {
        padding-top: 10%;
    }
}

@media (min-width: 425px) { 
    .hero-text {
        font-size: 48px;
        letter-spacing: 4.8px;
    }

    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.hero-text:before {
    content: '';
    border-left: 1px solid #3B3B3B;
    padding-bottom: 16px;
    padding-right: 10px;
}

.hero-text:after {
    content: '';
    border-bottom: 1px solid #3B3B3B;
    position: absolute;
    bottom: 0px;
    display: inline-block;
    left: 0;
    width: 100%;
    /* width: 370px; */
    margin-left: -14px;
}

.hero-text-orange {
    color: #ED5200;
}