body {
    font-family: Roboto;
}

html, body {
    margin:0;
    padding:0;
    height:100%;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 116px);
}

.logo {
    padding-right: 10px;
  }

  .hero {
    display: flex;
    align-items: center;
  }
  
  .hero-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 72px;
    letter-spacing: 7.2px;
    color: #3B3B3B;
    display: inline-block;
    position: relative;
  }
  
  .hero-text:before {
    content: '';
    border-left: 1px solid #3B3B3B;
    padding-bottom: 16px;
    padding-right: 10px;
  }
  
  .hero-text:after {
    content: '';
    border-bottom: 1px solid #3B3B3B;
    position: absolute;
    bottom: 0px;
    display: inline-block;
    left: 0;
    width: 370px;
    margin-left: -14px;
  }
  
  .hero-text-orange {
    color: #ED5200;
  }