.subtitles {
    display: grid;
    margin-top: 2em;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 1rem;
}

@media (min-width: 425px) {
    .subtitles {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
    }
}

@media (min-width: 768px) {
    .subtitles {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }
}

.subtitle-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    display:table-caption;
    
    color: #3B3B3B;
}

.subtitle-name-coming-soon {
    color: #828282;
}
.subtitle-coming-soon {
    font-size: 18px;
    color: #BDBDBD;
}