.footer {
    background-color: #3B3B3B;
    height: 50px;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-link {
    color: #BDBDBD;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.footer-link-content {
    text-decoration: none;
    color: #BDBDBD;
    margin-left: .35em;
}

.footer-link-content:hover {
    color: #BDBDBD;
    text-decoration: underline;
}

.footer-link-separator {
    margin: 0 1rem 0 .5rem;
    font-size: 24px;
    font-weight: bold;
}

@media (min-width: 768px) {
    .footer {
        height: 116px;
    }

    .footer-link-separator {
        margin: 0 1rem 0 .5rem;
        font-size: 36px;
    }

    .footer-link {
        font-size: 18px;
    }
}