.navbar {
    display: flex;
    padding-top: 1em;
    text-align: center;
    height: 50px;
}

.navbar-brand img {
    width: 30px;
}

.navbar-brand img {
    max-width: 100%;
    height: auto !important;
}

.navbar-start {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.navbar-end {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.navbar-item {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #3B3B3B;
    padding-bottom: 1px;
    overflow: hidden;
}

.navbar-item:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #ED5200;
    height: 3px;
    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.navbar-item:hover:before {
    right: 0;
}