@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin:0;
    padding:0;
    height: 100%;
}

.container {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.viewport {
    min-height: calc(100vh - 50px - 50px);
}

@media(min-width: 768px) {
    .viewport {
        min-height: calc(100vh - 116px - 50px);
    }
}

@media (min-width: 550px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 425px) { 
    .container {
        width: 85%;
        padding: 0;
    }
}